body {
    background-color: lightblue;
}

h1 {
    font-size: 500%;
    color: #003EC0;
    text-align: center;
	font-family: font1;
}

h2 {
	font-size: 200%;
    font-family: font1;
}

p,
a {
	font-size: 220%;
    font-family: font2;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #77A3FF;
}

li {
	font-size: 90%;
    float: right;
    font-family: font2;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
}

canvas {
    /*width: 95%;
  height: 95%;
  border: 2px solid #000000; */
    margin: 2rem;
    /*background-image: url("../assets/backgrounds/backgroundForest.png");*/
}

.div {
    background-color: #6699ff;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #ccc;
    text-align: center;
}